@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: rgb(41 37 36);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8B4513; /* Brown */
  border-radius: 6px;
  border: 3px solid #f3f4f6; /* Optional: matches bg-gray-100 for a floating effect */
}